@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.programas-container {
  /* margin-top: 50px; */
  padding: 2rem;
  background: linear-gradient(to bottom, rgba(30, 144, 255, 0.6 ), rgba(0, 0, 139, 0.9));
  
  min-height: 100vh;
  color: #ffffff;
}

/* Título principal */
.programas-container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  margin-top: 2.5rem;
}

/* Grid para los programas */
.programas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: start;
}

/* Elementos individuales */
.programa-item {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Foto circular */
.foto-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
}

.foto-circular {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Información del programa */
.programa-info h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #ffd700; /* Color dorado para destacar el título */
  font-weight: 700;
}

.programa-dia-hora {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  color: #f0f0f0;
}

.programa-conductor {
  font-size: 1rem;
  font-style: italic;
  color: #c0c0c0;
}

/* Efectos responsivos */
@media (max-width: 768px) {
  .foto-wrapper {
    width: 120px;
    height: 120px;
  }

  .programa-info h3 {
    font-size: 1.5rem;
  }

  .programas-container h2{
    font-size: 1.8rem;
  }
}
